<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fitbit.css" />
        
    <meta charset="UTF-8">
  </head>
    <body>
      <div class="navbar">
               
        <div id = "titleBox">
            <img src = "https://cdn-icons-png.flaticon.com/512/4773/4773146.png">
        </div>
        <div id = "titleBox">
                Hawk Health
        </div>
    <a href="/">Home</a>
    <a href="/journals">Journals</a>
    <a href="/appt">Scheduler</a>
<a href="/fitbit">
        Fitbit</a>
                
<a href="/fitbit/test">
Test Fitbit</a>
<a href="/auth/signout" style = "margin-left: auto;">
  Log Out</a>
</div>

<div class = "header">
<h1> Fitbit </h1>
</div>  
      <% if(fitbitUsers != null){ %>
<h1>Select a user to view their heart, sleep, and activity biometrics</h1>


    <form method="POST" action="/doctor/fitbit/patientSelect">
     
        <label for="userList">Select a patient:</label>
        <select name="userList" id="userList">
        <% for (user of fitbitUsers) { %>
            <option value="<%= user.userid %>"><%= user.username %></option>
            <% } %>
          </select>
          <div class="mb-2">
            <label for="date">Select a Date:</label>
   <input type="date" id="date" name="date"> 
       </div>
          
        <button type="submit" class="btn btn-primary mt-2">Submit</button> 
      
    </form>
    <% } else { %>

 
      <h2>Select a date to view data</h2>
      
      
          <form method="POST" action="/fitbit/fitbitData">
           
             
              <div class="mb-2">
                <label for="date">Select a Date:</label>
       <input type="date" id="date" name="date"> 
           </div>
              
              <button type="submit" class="btn btn-primary mt-2">Submit</button> 
            
          </form>
          <% } %>
<h1>Fitbit Data</h1>
<% if(pooledFitbitData != null){ %>
<!--Array order: [activity-heart, sleep summary, activity goals, activity summary] -->
  <% if(pooledFitbitData[0] != null){ %>
    <h3>Data Queried on <strong><%= pooledFitbitData[0].dateTime %> </strong></h3>
<h2>Heart rate data</h2>
    <% for(rate of pooledFitbitData[0].value.heartRateZones){ %>
      <h3><%= rate.name %></h3>
    <ul>
      <li>Calories Out: <%= rate.caloriesOut %> kilocalories </li>
      <li>Maximum heart rate in this zone: <%= rate.max %> beats per minute</li>
      <li>Minimum heart rate in this zone: <%= rate.min %> beats per minute</li>
      <li>Time spent in this zone: <%= rate.minutes %> minutes</li>
    </ul>
    <% } %>
    <% } %>
<br />
    <% if(pooledFitbitData[1] != null){ %>
    
        <h3>Sleep stages</h3>
      <ul>
        <li><strong>Time spent in deep sleep: </strong><%= pooledFitbitData[1].stages.deep %> minutes</li>
        <li><strong>Time spent in light sleep: </strong><%= pooledFitbitData[1].stages.light %> minutes</li>
        <li><strong>Time spent in REM sleep: </strong><%= pooledFitbitData[1].stages.rem %> minutes</li>
        <li><strong>Time spent in awake: </strong><%= pooledFitbitData[1].stages.wake %> minutes</li>
      </ul>
      
      <% } %>
      <br />

      <% if(pooledFitbitData[2] != null){ %>
    
        <h3>Activity goals</h3>
      <ul>
        <li><strong>Active minutes goals: </strong><%= pooledFitbitData[2].activeMinutes %> minutes</li>
        <li><strong>Calories out goals: </strong><%= pooledFitbitData[2].caloriesOut %> kilocalories</li>
        <li><strong>Distance goals: </strong><%= pooledFitbitData[2].distance %> miles</li>
        <li><strong>Floors climbed goals: </strong><%= pooledFitbitData[2].floors %> floors</li>
        <li><strong>Steps count goals: </strong><%= pooledFitbitData[2].steps %> steps</li>
      </ul>
      
      <% } %>
      <br />

      <% if(pooledFitbitData[3] != null){ %>
    
        <h3>Activity summary</h3>
        <p>Calories out: <%= pooledFitbitData[3].caloriesOut %> kilocalories </p>
      <h4>Distance data</h4>
      <% for(distanceType of pooledFitbitData[3].distances){ %>
        <h5><%= distanceType.activity %> distance</h5>
        <h5><%= distanceType.distance %> miles</h5>
      <br />
      <% } %>
      <h4>Elevation: <%= pooledFitbitData[3].elevation %> feet</h4>
      <h4>Floors climbed: <%= pooledFitbitData[3].floors %> floors</h4>
      
      <h4>Total marginal estimated calories: <%= pooledFitbitData[3].marginalCalories %> kilocalories</h4>

      <h4>Sedentary Active minutes: <%= pooledFitbitData[3].sedentaryMinutes %> minutes</h4>
      <h4>Lightly Active minutes: <%= pooledFitbitData[3].lightlyActiveMinutes %> minutes</h4>
      <h4>Fairly or Moderately Active minutes: <%= pooledFitbitData[3].fairlyActiveMinutes %> minutes</h4>
      <h4>Very Active minutes: <%= pooledFitbitData[3].veryActiveMinutes %> minutes</h4>
      
      
      <% } %>

      <br />
      <% } %>
    </body>
</html>
