<html>
  <head>
    
  </head>
    <style>
        body {font-family: Arial;}
        
        /* Style the tab */
        .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;
        }
        
        /* Style the buttons inside the tab */
        .tab button {
          background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
        }
        
        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #ddd;
        }
        
        /* Create an active/current tablink class */
        .tab button.active {
          background-color: #ccc;
        }
        
        /* Style the tab content */
        .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
        }
        </style>
    <body>
      <% if(fitbitUsers != null){ %>
<h1>Select a user to view their heart, sleep, and activity biometrics</h1>


    <form method="POST" action="/doctor/fitbit/patientSelect">
     
        <label for="userList">Select a patient:</label>
        <select name="userList" id="userList">
        <% for (user of fitbitUsers) { %>
            <option value="<%= user._id %>"><%= user.username %></option>
            <% } %>
          </select>
          <div class="mb-2">
            <label for="date">Select a Date:</label>
   <input type="date" id="date" name="date"> 
       </div>
          
        <button type="submit" class="btn btn-primary mt-2">Submit</button> 
      
    </form>
    <% } else { %>

 
      <h1>Select a date to view data</h1>
      
      
          <form method="POST" action="/fitbit/fitbitData">
           
             
              <div class="mb-2">
                <label for="date">Select a Date:</label>
       <input type="date" id="date" name="date"> 
           </div>
              
              <button type="submit" class="btn btn-primary mt-2">Submit</button> 
            
          </form>
          <% } %>
<h2>Fitbit Data</h2>
<!--Array order: [heartRateZones, sleep summary, activity goals, activity summary] -->
  <% if(pooledFitbitData[0] != null){ %>
    <% for(rate of pooledFitbitData[0]){ %>
      <h3><%= rate.name %></h3>
    <ul>
      <li>Calories Out: <%= rate.caloriesOut %> kilocalories </li>
      <li>Maximum heart range in this zone: <%= rate.max %> beats per minute</li>
      <li>Minimum heart range in this zone: <%= rate.min %> beats per minute</li>
      <li>Time spent in this zone: <%= rate.minutes %> minutes</li>
    </ul>
    <% } %>
    <% } %>
<br />
    <% if(pooledFitbitData[1] != null){ %>
    
        <h3>Sleep stages</h3>
      <ul>
        <li><strong>Time spent in deep sleep: </strong><%= pooledFitbitData[1].stages.deep %> minutes</li>
        <li><strong>Time spent in light sleep: </strong><%= pooledFitbitData[1].stages.light %> minutes</li>
        <li><strong>Time spent in REM sleep: </strong><%= pooledFitbitData[1].stages.rem %> minutes</li>
        <li><strong>Time spent in awake: </strong><%= pooledFitbitData[1].stages.wake %> minutes</li>
      </ul>
      
      <% } %>
      <br />

      <% if(pooledFitbitData[2] != null){ %>
    
        <h3>Activity goals</h3>
      <ul>
        <li><strong>Active minutes goals: </strong><%= pooledFitbitData[2].activeMinutes %> minutes</li>
        <li><strong>Calories out goals: </strong><%= pooledFitbitData[2].caloriesOut %> kilocalories</li>
        <li><strong>Distance goals: </strong><%= pooledFitbitData[2].distance %> miles</li>
        <li><strong>Floors climbed goals: </strong><%= pooledFitbitData[2].floors %> floors</li>
        <li><strong>Steps count goals: </strong><%= pooledFitbitData[2].steps %> steps</li>
      </ul>
      
      <% } %>
      <br />

      <% if(pooledFitbitData[3] != null){ %>
    
        <h3>Activity summary</h3>
        <p>Calories out: <%= pooledFitbitData[3].caloriesOut %> kilocalories </p>
      <h4>Distance data</h4>
      <% for(distanceType of pooledFitbitData[3].distances){ %>
        <h5><%= distanceType.activity %> distance</h5>
        <h5><%= distanceType.distance %> miles</h5>
      <br />
      <% } %>
      <h4>Elevation: <%= pooledFitbitData[3].elevation %> feet</h4>
      <h4>Floors climbed: <%= pooledFitbitData[3].floors %> floors</h4>
      
      <h4>Total marginal estimated calories: <%= pooledFitbitData[3].marginalCalories %> kilocalories</h4>

      <h4>Sedentary Active minutes: <%= pooledFitbitData[3].sedentaryMinutes %> minutes</h4>
      <h4>Lightly Active minutes: <%= pooledFitbitData[3].lightlyActiveMinutes %> minutes</h4>
      <h4>Fairly or Moderately Active minutes: <%= pooledFitbitData[3].fairlyActiveMinutes %> minutes</h4>
      <h4>Very Active minutes: <%= pooledFitbitData[3].veryActiveMinutes %> minutes</h4>
      
      
      <% } %>
      <br />
    </body>
</html>
