<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
        
<meta charset="UTF-8">

        <script type = "text/javascript" src="/js/homepage.js" > </script>

    </head>
    <body>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/journals">Journals</a>
           <!--
<a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23RTQD&scope=activity+cardio_fitness+electrocardiogram+heartrate+location+nutrition+oxygen_saturation+profile+respiratory_rate+settings+sleep+social+temperature+weight&code_challenge=drIgY9Bnkjj7XDmXLCQrRknHtpUp7W9-Lm61reCu3Pw&code_challenge_method=S256&state=6e6u0a1v3a5j5t42082t2g033g2b690q&redirect_uri=https%3A%2F%2Ftsamentalhealthapp-0fee6615a9d9.herokuapp.com%2Fcallback">
                Fitbit</a>
           --> 
        </nav>

        <% if(journals == null){ %>
            <p>None Avaliable</p>
        <% }else { %>
    
            
                <% for (journal of journals) { %>
        <div id="journals">
            
            <h3>Title: <%= journal.firstname %></h3>
            <h4>Date: <%= journal.time.getFullYear() %>-<%= (journal.time.getMonth()) + 1 %>-<%= journal.time.getDate() %></h4>
            <P>Recorded Moods: </P>
            <ul>
                <% for (mood of journal.checkbox) { %>
<li><%= mood %></li>
                    <% } %> 
            </ul>
          
            <p><%= journal.lastname %></p>
        </div>
                    

        
                <% } %>
 

            <% } %>
        
    </body>
</html>
