<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
        
<meta charset="UTF-8">

        <script type = "text/javascript" src="/js/homepage.js" > </script>

    </head>
    <body>
        <div class="navbar">
               
            <div id = "titleBox">
                <img src = "https://cdn-icons-png.flaticon.com/512/4773/4773146.png">
            </div>
            <div id = "titleBox">
                    Hawk Health
            </div>
        <a href="/">Home</a>
        <a href="/journals">Journals</a>
    
<a href="/fitbit">
            Fitbit</a>
                    
<a href="/fitbit/test">
Test Fitbit</a>
</div>

        <a href="/journals/new">New Journal</a>
        <% if(journals == null){ %>
            <p>None Avaliable</p>
        <% }else { %>
    
            
                <% for (journal of journals) { %>
        <div id="journals">
            
            <h3>Title: <%= journal.firstname %></h3>
            <h4>Date: <%= journal.time.getFullYear() %>-<%= (journal.time.getMonth()) + 1 %>-<%= journal.time.getDate() %></h4>
            <P>Recorded Moods: </P>
            <ul>
                <% for (mood of journal.checkbox) { %>
<li><%= mood %></li>
                    <% } %> 
            </ul>
          
            <p><%= journal.lastname %></p>
        </div>
                    

        
                <% } %>
 

            <% } %>
        
    </body>
</html>
