<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/journals.css" />
    </head>
    <body>

        <% if(journals == null){ %>
            <p>None Avaliable</p>
        <% }else { %>
    
            
                <% for (journal of journals) { %>
        <div id="journals">
            
            <h3>Title: <%= journal.firstname %></h3>
            <h4>Date: <%= journal.time.getFullYear() %>-<%= (journal.time.getMonth()) + 1 %>-<%= journal.time.getDate() %></h4>
            <P>Recorded Moods: </P>
            <ul>
                <% for (mood of journal.checkbox) { %>
<li><%= mood %></li>
                    <% } %> 
            </ul>
          
            <p><%= journal.lastname %></p>
        </div>
                    

        
                <% } %>
 

            <% } %>
        
    </body>
</html>
